<!DOCTYPE html>
<html lang="zh-CN">
{% include "partials/head.njk" %}
<body>
{% include "partials/header.njk" %}

{{ content | safe }}

{% include "partials/footer.njk" %}
{% include "partials/scripts.njk" %}
</body>
</html>
