---
layout: layouts/base.njk
title: 关于宏澳 - 宏澳软件
currentPage: about
bodyClass: about
---

<!--/ab-->
<div class="banner_bottom">
    <div class="container">
        <!---728x90--->

        <h3 class="tittle-w3ls">关于宏澳</h3>
        <!---728x90--->

        <div class="inner_sec_info_wthree_agile">
            <div class="help_full">

                <div class="col-md-6 banner_bottom_grid help">
                    <img src="/images/ab.png" alt=" " class="img-responsive">
                </div>
                <div class="col-md-6 banner_bottom_left">
                    <h4>重塑交易结构，倍增市场份额</h4>
                    <p>作为品牌产品的区域经销商，您是否有如下的问题？</p>
                    <ul class="questions">
                        <li>厂家任务重，门店不肯进货，压力都让渠道经销商抗。</li>
                        <li>市场竞争激励，价盘倒挂，自己的市场被其他渠道挤占，雪上加霜。</li>
                        <li>好的产品要耐心深耕和经营，但门店怕动销不掉，不敢进货，生意越发难做。</li>
                    </ul>
                    <p class="highlight">
                        宏澳平台通过重塑门店与经销商之间的交易方式，帮您解决以上问题, 实现市场份额倍增！
                    </p>
                    <div class="ab_button">
                        <a class="btn btn-primary btn-lg hvr-underline-from-left" href="/about/" role="button">了解更多 </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="news-main">
            <div class="col-md-4 banner_bottom_left">
                <div class="banner_bottom_pos">
                    <div class="banner_bottom_pos_grid">
                        <div class="col-xs-3 banner_bottom_grid_left">
                            <div class="banner_bottom_grid_left_grid">
                                <span class="fa fa-line-chart" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-xs-9 banner_bottom_grid_right">
                            <h4>引入增量资金</h4>
                            <p>回归产品本质，发挥渠道各方优势，让好的生意不因为资金问题而卡壳。</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 banner_bottom_left">
                <div class="banner_bottom_pos">
                    <div class="banner_bottom_pos_grid">
                        <div class="col-xs-3 banner_bottom_grid_left">
                            <div class="banner_bottom_grid_left_grid">
                                <span class="fa fa-balance-scale" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-xs-9 banner_bottom_grid_right">
                            <h4>平衡各方利益</h4>
                            <p>
                                好的交易结构，不是哪一方利益最大化，而是平衡各方的利益诉求，让双方从对手盘，变为合作共赢的利益共同体。
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 banner_bottom_left">
                <div class="banner_bottom_pos">
                    <div class="banner_bottom_pos_grid">
                        <div class="col-xs-3 banner_bottom_grid_left">
                            <div class="banner_bottom_grid_left_grid">
                                <span class="fa fa-chain-broken" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-xs-9 banner_bottom_grid_right">
                            <h4>隔离压货风险</h4>
                            <p>
                                区域明明有需求，渠道政策也足够，但市场却被窜货商占了，本质是没有解决零售端的压货风险顾虑。
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//ab-->
<!---728x90--->

<!--/what-->
<div class="works">
    <div class="container">
        <!---728x90--->

        <h3 class="tittle-w3ls cen">产品服务行业</h3>
        <div class="inner_sec_info_wthree_agile">
            <div class="ser-first">
                <div class="col-md-3 ser-first-grid text-center">
                    <span class="fa fa-child" aria-hidden="true"></span>
                    <h3>母婴行业</h3>
                    <p>飞鹤，君乐宝，伊利等多个品牌经销商全面使用宏澳服务</p>
                </div>
                <div class="col-md-3 ser-first-grid text-center">
                    <span class="fa fa-beer" aria-hidden="true"></span>
                    <h3>啤酒饮料</h3>
                    <p>百威，青岛等多个啤酒区域经销商在旺季备货时使用宏澳服务</p>
                </div>
                <div class="col-md-3 ser-first-grid text-center">
                    <span class="fa fa-cutlery" aria-hidden="true"></span>
                    <h3>米面粮油</h3>
                    <p>北大荒，农垦1号等多个品牌经销商使用宏澳服务，快速铺开网点</p>
                </div>
                <div class="col-md-3 ser-first-grid text-center">
                    <span class="fa fa-glass" aria-hidden="true"></span>
                    <h3>茶叶名酒</h3>
                    <p>山东花冠，河北丛台，古贝春等品牌酒企经销商使用宏澳服务，扩大其高端品系市占率</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
<!--//what-->
<!-- /team -->
<!--
<div class="banner_bottom proj">
    <div class="container">
        <h3 class="tittle-w3ls">Our Team</h3>
        <div class="inner_sec_info_wthree_agile">
            <div class="col-md-3 team_grid_info">
                <img src="/images/t1.jpg" alt=" " class="img-responsive"/>
                <h3>Jane Mycle </h3>
                <p>Director</p>

            </div>
            <div class="col-md-3 team_grid_info">
                <img src="/images/t2.jpg" alt=" " class="img-responsive"/>
                <h3>Amanda Seylon </h3>
                <p>CEO</p>
            </div>
            <div class="col-md-3 team_grid_info">
                <img src="/images/t3.jpg" alt=" " class="img-responsive"/>
                <h3>Laura Mark</h3>
                <p>Project Manager</p>

            </div>
            <div class="col-md-3 team_grid_info">
                <img src="/images/t4.jpg" alt=" " class="img-responsive"/>
                <h3>Jane Mycle </h3>
                <p>HR Manager</p>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
-->
<!-- //team -->
<!--/bottom-->
<div class="banner_bottom">
    <div class="container">
        <h3 class="tittle-w3ls">Let's Change How We Manage Business
        </h3>
        <div class="inner_sec_info_wthree_agile">
            <div class="help_full">

                <div class="col-md-6 banner_bottom_left">
                    <h4>为渠道连接产业资本；为产业资本落实真实场景。</h4>
                    <p>大量的传统零售交易，缺少产业和资本赋能支持；
                        产业资本，在少数头部品牌上竞争激烈，但没有足够的资源服务广阔的零售场景。
                    </p>
                    <div class="ab_button">
                        <a class="btn btn-primary btn-lg hvr-underline-from-left" href="/about/" role="button">
                            了解详情
                        </a>
                    </div>
                </div>

                <div class="col-md-6 banner_bottom_grid help">
                    <img src="/images/banner_mid.jpg" alt=" " class="img-responsive">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--//bottom-->
<!--/testimonials-->
<div class="tesimonials">
    <div class="container">
        <h3 class="tittle-w3ls cen">区域星锐</h3>
        <div class="inner_sec">
            <div class="test_grid_sec">
                <div class="col-md-offset-2 col-md-8">
                    <div class="carousel slide two" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators two">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="test_grid">
                                        <div class="col-sm-3 text-center test_img">
                                            <img src="/images/t1.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-sm-9 test_img_info">
                                            <p>挑战目标，成就自我，分享云南市场帮助客户成功的经验</p>
                                            <h6>西南区域经理</h6>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="test_grid">
                                        <div class="col-sm-3 text-center test_img">
                                            <img src="/images/t2.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-sm-9 test_img_info">
                                            <p>来到宏澳，新生锐变，分享加入宏澳后的成长感悟</p>
                                            <h6>山东菏泽城市经理</h6>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="test_grid">
                                        <div class="col-sm-3 text-center test_img">
                                            <img src="/images/t3.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-sm-9 test_img_info">
                                            <p>胜则举杯相庆，败则拼死相救——从头开始新市场，快速签约，帮助客户解决市场挑战</p>
                                            <h6>四川团队</h6>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//testimonials-->
