---
layout: layouts/base.njk
title: 产品介绍 - 宏澳软件
currentPage: platform
bodyClass: platform
---

<!--/ab-->
<div class="banner_bottom">
    <div class="container">
        <!---728x90--->

        <h3 class="tittle-w3ls">合作产品介绍</h3>
        <!---728x90--->

        <div class="inner_sec_info_wthree_agile">
            <!--/projects-->
            <ul class="portfolio-categ filter">
                <li class="port-filter all active">
                    <a href="#">所有</a>
                </li>
                <li class="cat-item-1">
                    <a href="#" title="Category 1">零售商融资</a>
                </li>
                <li class="cat-item-2">
                    <a href="#" title="Category 2">经销商融资</a>
                </li>
            </ul>


            <ul class="portfolio-area">

                <li class="portfolio-item2" data-id="id-0" data-type="cat-item-1">
                    <div>
                        <span class="image-block block2 img-hover">
							<a class="image-zoom" href="/images/g1.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/g1.jpg" class="img-responsive" alt="Fuxing">
                                <div class="port-info">
                                    <h5>复星锐正</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-1" data-type="cat-item-1">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/g2.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/g2.jpg" class="img-responsive" alt="Fumin Bank">
                                <div class="port-info">
                                    <h5>重庆富民</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/g3.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/g3.jpg" class="img-responsive" alt="SanXiang Bank">
								<div class="port-info">
                                    <h5>湖南三湘</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-3" data-type="cat-item-2">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/g4.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/g4.jpg" class="img-responsive" alt="SF Digital">
                                <div class="port-info">
                                    <h5>顺丰数科</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-4" data-type="cat-item-2">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/g5.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/g5.jpg" class="img-responsive" alt="JD Digital">
                                <div class="port-info">
                                    <h5>京东数科</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <div class="clearfix"></div>
            </ul>
            <!--end portfolio-area -->

        </div>

    </div>
    <!--//projects-->

</div>
<!--//bottom-->
<!---728x90--->
