---
layout: layouts/base.njk
title: 客户案例 - 宏澳软件
currentPage: portfolio
bodyClass: portfolio
---

<!--/ab-->
<div class="banner_bottom">
    <div class="container">
        <!---728x90--->

        <h3 class="tittle-w3ls">客户案例</h3>
        <!---728x90--->

        <div class="inner_sec_info_wthree_agile">
            <!--/projects-->
            <ul class="portfolio-categ filter">
                <li class="port-filter all active">
                    <a href="#">所有行业</a>
                </li>
                <li class="cat-item-1">
                    <a href="#" title="Category 1">母婴行业</a>
                </li>
                <li class="cat-item-2">
                    <a href="#" title="Category 2">啤酒饮料</a>
                </li>
                <li class="cat-item-3">
                    <a href="#" title="Category 3">米面粮油</a>
                </li>
                <li class="cat-item-4">
                    <a href="#" title="Category 4">茶叶名酒</a>
                </li>
            </ul>


            <ul class="portfolio-area">

                <li class="portfolio-item2" data-id="id-0" data-type="cat-item-1">
                    <div>
                        <span class="image-block block2 img-hover">
							<a class="image-zoom" href="/images/b-feihe.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/b-feihe.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>南京飞鹤经销商</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-1" data-type="cat-item-1">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/b-jlb.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/b-jlb.jpg" class="img-responsive" alt="Conceit">
                                  <div class="port-info">
                                    <h5>贵州君乐宝经销商</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/b-yl.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/b-yl.jpg" class="img-responsive" alt="Conceit">
								<div class="port-info">
                                    <h5>徐州伊利经销商</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-3" data-type="cat-item-2">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/b-bw.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/b-bw.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>嘉兴百威经销商</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-4" data-type="cat-item-2">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/b-qd.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/b-qd.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>青岛啤酒经销商</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-5" data-type="cat-item-3">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/b-bdh.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/b-bdh.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>北大荒五常大米</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-6" data-type="cat-item-3">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/b-nk1h.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/b-nk1h.jpg" class="img-responsive" alt="Conceit">
                                  <div class="port-info">
                                    <h5>沈阳十月稻田</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-7" data-type="cat-item-4">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/b-sdhg.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/b-sdhg.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>山东花冠集团</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>

                <li class="portfolio-item2" data-id="id-8" data-type="cat-item-4">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/b-ct.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/b-ct.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>邯郸丛台酒业</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>

                <li class="portfolio-item2" data-id="id-9" data-type="cat-item-4">
                    <div>
                        <span class="image-block block2">
							<a class="image-zoom" href="/images/b-gbc.jpg" rel="prettyPhoto[gallery]">
                                <img src="/images/b-gbc.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>得州古贝春酒业</h5>
                                </div>
							</a>
						</span>
                    </div>
                </li>

                <div class="clearfix"></div>
            </ul>
            <!--end portfolio-area -->

        </div>

    </div>
    <!--//projects-->

</div>
<!--//bottom-->
<!---728x90--->
